body { font-family: monospace;
}

h1 { color: dimgrey;
}

h2 { text-align: center;
color: seagreen;
}

th { background-color: seagreen;
color: white;
}

tbody { background-color: dimgrey;
color: white;
}

td { text-align: center;
}